{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/images/hokages-suite.png" class="img-fluid img-thumbnail mx-auto d-block room-image">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Hokage's suite</h1>
            <p>
              You just finished a mission and you need a place to rest from the chase after the Atzuki. We feel you. Naruto Bed and Breakfast is the place for you!
              You just finished a mission and you need a place to rest from the chase after the Atzuki. We feel you. Naruto Bed and Breakfast is the place for you!
              You just finished a mission and you need a place to rest from the chase after the Atzuki. We feel you. Naruto Bed and Breakfast is the place for you!
              You just finished a mission and you need a place to rest from the chase after the Atzuki. We feel you. Naruto Bed and Breakfast is the place for you!
              You just finished a mission and you need a place to rest from the chase after the Atzuki. We feel you. Naruto Bed and Breakfast is the place for you!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        </div>
    </div>	
</div>

{{end}}


{{define "js"}}
<script>
    let csrf_token = "{{.CSRFToken}}"
    let availability_pop_up = AvailabilityPopUp();
	availability_pop_up.pop({id: "2"});
</script>

{{end}}